CoreLogs
*.log
*.idea
.vscode
venv
__pycache__
.ipynb_checkpoints
auto_examples
build
_build
requirements.txt
.vs
.bak
PyDevice.sln
AutoConfig.props
x64
*.gif
*.png
dist
*.egg-info
*.ai
sg_execution_times.rst
poetry.toml
/poetry.lock
/uv.lock
/openwfs/_version.py
