numpy>=1.25.2
pytest~=7.0.0
astropy>=5.3.4
glfw>=2.5.9
opencv-python>=4.9.0.80
matplotlib>=3.7.3
scipy>=1.11.3
scikit-image>=0.21.0
Pillow>=10.0.1
PyOpenGL>=3.1.7
nidaqmx>=0.8.0
harvesters~=1.4.2

pytest~=7.0.0
sphinx>=4.1.2
furo>=2022.1.0
sphinx-autodoc-typehints >= 1.11.1
twine>=3.4.2