name: Publish to (Test)PyPi using Poetry
# This workflow is started automatically when a tag of the form v1.1.0 or v.1.2.0rc is pushed to the master branch.
# The tag must be a semantic version, optionally ending with 'rc'
# The package is built and deployed to PyPi and TestPyPi automatically.
# If the tag ends with 'rc', the package is deployed to TestPyPi only

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+(rc)?' 
    branches:
      - master
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    environment:
      name: pypi
      url: https://test.pypi.org/p/openwfs
      
    permissions:
      id-token: write  # Required for OIDC
    
    steps:
    # Checkout the repository
    - name: Check out the repository
      uses: actions/checkout@v3

    # Set up Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # Install Poetry
    - name: Install Poetry
      uses: abatilo/actions-poetry@v2
      with:
        version: '1.8.3'
        
    # Install dependencies and build the project
    - name: Install dependencies and build package
      run: |
        poetry install
        poetry build

    - name: Publish package distributions to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
        verbose: true

    - name: Publish package distributions to the true PyPI
      if: ${{ !contains(github.ref, 'rc')}} # don't publish release candidates to PyPI, use these only for testing
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        verbose: true

        
