name: Publish to (Test)PyPi using uv
# This workflow is started automatically when using GitHub's release workflow.
# The tag must be a semantic version, optionally ending with 'rc'
# The package is built and deployed to PyPi and TestPyPi automatically.
# If the tag ends with 'rc', the package is deployed to TestPyPi only

on:
  release:
    types: [released]
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    environment:
      name: pypi
      url: https://test.pypi.org/p/openwfs
      
    permissions:
      id-token: write  # Required for OIDC
    
    steps:
    # Checkout the repository
    - name: Check out the repository
      uses: actions/checkout@v3

    # Set up Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # Install uv
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        # Install a specific version of uv.
        version: "0.9.18"
        
    # Install dependencies and build the project
    - name: Install dependencies and build package
      run: |
        uv sync --all-extras
        uv build

    - name: Publish package distributions to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
        verbose: true

    - name: Publish package distributions to the true PyPI
      if: ${{ !contains(github.ref, 'rc')}} # don't publish release candidates to PyPI, use these only for testing
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        verbose: true

        
